<div>
    <h1>{{cubo.nombre}}</h1>
    <img src="{{cubo.imagen}}" style="width: 150px; height: 100px">
    <h2>Modelo: {{cubo.modelo}}</h2>
    <h2>Marca: {{cubo.marca}}</h2>
    <h2>Color: {{cubo.color}}</h2>
    <h2>Precio: {{cubo.precio}}</h2>
    <h2>Valoracion: {{cubo.valoracion}}/5 estrellas</h2>

<br><br><br><br>
    <h2>COMENTARIOS</h2>

    <table  *ngIf="comentarios" class="table table-bordered table-dark">
        <thead>

        </thead>

        <tbody>
            <tr *ngFor="let comentario of comentarios">
                <td>{{comentario.idUsuario}}</td>
                <td>{{comentario.comentario}}</td>
                <td>{{comentario.fecha}}</td>
            </tr>
    </table>

</div>